services:
  client:
    build: ./client
    ports:
      - "5173:5173"
    depends_on:
      - server
    environment:
      - VITE_SERVER=http://localhost:5000
    restart: always

  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/slotswapper
      - JWT_SECRET=smdbsmdmsbdsbh
      - FRONTEND_URL=http://localhost:5173
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:8.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
